.post-fade-enter {
  opacity: 0;
  transform: translateY(10px);
}
.post-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}

.post-fade-exit {
  opacity: 1;
}
.post-fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease;
}
